<html>
	<head>
		<title>Live Stream Web App</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="/javascripts/index.js"></script>
	</head>
	<body>
		<video autoplay></video>
    	{{{body}}}
	</body>
</html>